<div class="highscore-card big-card">
  <h1 class="game-title">Highscores</h1>
  <ol class="highscore-list">
    {{#each highscores}}
      <li class="highscore-row">
        <span class="name">{{this.name}}</span>
        <span class="time"><strong>Tid:</strong> {{this.time}} sek</span>
        <span class="settings"><strong>Ordlängd:</strong>
          {{this.settings.length}}
        </span>
        <span><strong>Rep: </strong>{{#if
            this.settings.allowRepeats
          }}Ja{{else}}Nej{{/if}}</span>

        <div class="guess-section">
  <span class="guesses-toggle" onclick="toggleGuesses(this)"> Visa gissningar ▼</span>
  <ul class="guess-list hidden">
    {{#each this.guesses}}
      <li>{{this.guess}}</li>
    {{/each}}
  </ul>
</div>
      </li>
    {{/each}}
  </ol>
 <div class="button-container">
  <a href="/" class="back-button">Tillbaka</a>
</div>

</div>